%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% Copyright (c) 2015 Gyanendra Aggarwal.  All Rights Reserved.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

[
  {erlang_raft,
    [
       {election_timeout_min   , 1000}
      ,{election_timeout_max   , 2000}
      ,{heartbeat_timeout      , 500}
      ,{log_request_timeout    , 500}
      ,{log_entry_operation_api, rl_entry_operation_api}
      ,{log_file_header_version, 1}
      ,{log_entry_trailer_magic, <<"\xFE\xED\xFE\xED\xFE\xED\xFE\xED">>}
      ,{state_machine_api      , er_state_machine_api}
%      ,{data_dir               , "/Users/gyanendraaggarwal/erlang/code/erlang_raft/data/"}
      ,{data_dir               , ""}
      ,{file_replicated_log    , "_repl.log"}
      ,{file_metadata          , "_meta.dat"}
      ,{file_config            , "_raft.cfg"}
      ,{optimistic_mode        , true}
      ,{debug_mode             , true}
      ,{sup_restart_intensity  , 100}
      ,{sup_restart_period     , 1}
      ,{sup_child_shutdown     , 2000}
      ,{log_retention_size_min , 5}
      ,{log_retention_size_max , 15}
    ]},
  {erlang_raft_test,
    [
       {raft_nodes             , ["er_n1", "er_n2", "er_n3", "er_n4", "er_n5"]}
      ,{config_change_min      , 20}
      ,{config_change_max      , 50}
      ,{entries_min            , 30}
      ,{entries_max            , 500}
    ]}
].
